<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.0.1" targetFramework="net452" />
  <package id="Eto.OxyPlot" version="1.0.5377.38510" targetFramework="net452" />
  <package id="OxyPlot.Core" version="2015.1.708-alpha" targetFramework="net452" />
  <package id="oxyplot-extensions" version="1.0.13" targetFramework="net452" />
</packages>